{# app/Resources/views/Emails/changement_statut.html.twig #}

{# On étend notre layout #} 
{% extends "::base.html.twig" %} 


{% block header %}{% endblock %}


{% block contentTopInner %}
    <h2>Modification de la réservation de {{ reservation.nom }} {{ reservation.prenom }}</h2>
    <p class="lead">
        L'adresse {{ reservation.email }} 
        <br />
        a modifié sa reservation le {{ reservation.dateDerMaj|date("d/m/Y H:i") }}.
        <br /><br />
        concernant le véhicule :
        {{ reservation.vehicule.immatriculation }} - {{ reservation.vehicule.marque }}.
        <br />
        La reservation est maintenant au statut {{ reservation.statut }}
    </p>
{% endblock %}


{% block contentPanelInner %}
{% endblock %}


{% block socialBlock %}{% endblock %}


{% block footer %}{% endblock %}