{# app/Resources/views/Emails/registration.html.twig #}

{# On étend notre layout #} 
{% extends "::base.html.twig" %} 


{% block header %}{% endblock %}


{% block contentTopInner %}
    <h1>Demande de réservation de {{ reservation.nom }} {{ reservation.prenom }}</h1>
    <p class="lead">
        L'adresse {{ reservation.email }} a effectué une reservation le {{ reservation.dateCreation|date("d/m/Y H:i:s") }}.
        concernant le véhicule :
        {{ reservation.vehicule.immatriculation }} - {{ reservation.vehicule.marque }}.
    </p>
{% endblock %}


{% block contentPanelInner %}
    <p>Merci de lui donner une réponse rapidement en allant sur  
        <a href="http://5.39.77.232/carPool/front-office/dist/">le site de Carpool</a>.
    </p>
{% endblock %}


{% block socialBlock %}{% endblock %}


{% block footer %}{% endblock %}