{# app/Resources/views/Emails/demande_reservation.html.twig #}

{# On étend notre layout #} 
{% extends "::base.html.twig" %} 


{% block header %}{% endblock %}


{% block contentTopInner %}
    <h2>Demande de réservation de {{ reservation.nom }} {{ reservation.prenom }}</h2>
    <p class="lead">
        L'adresse {{ reservation.email }} 
        <br />
        a effectué une reservation le {{ reservation.dateCreation|date("d/m/Y H:i:s") }}.
        <br /><br />
        concernant le véhicule :
        {{ reservation.vehicule.immatriculation }} - {{ reservation.vehicule.marque }}.
    </p>
{% endblock %}


{% block contentPanelInner %}
    
{% endblock %}


{% block socialBlock %}{% endblock %}


{% block footer %}{% endblock %}